body{
    background-color: #D1DDED;
    font-family: 'IBM Plex Sans', sans-serif;
}




header{
    padding: 1em 0;
    width: 940px; 
    margin: 0 auto;
    margin-top: -35px;
}



.principal{
    width: 940px; 
    margin: 0 auto;
    padding: 20px 20px 100px 20px;
}

.cuadros{
    margin-top: 50px;
}


.cuadros ::placeholder{
    font-weight: bold;
    color: #223A59;
}

.principal textarea{
    width: 45%;
    /* vertical-align: top; */
}

.mensaje-Usuario{
    font-weight: bold;
    font-size: 1.2em;
    background-color: transparent;
    resize: none;
}

.mensaje-resultado{
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 3px;
    margin-left: 40px;
    resize: none;
    background-color: transparent;
}

.advertencia, .advertencia p{
    display: inline;
    color: #031930;
    margin-left: 10px;
}

.copiar{
    border: none;
    border-radius: 3px;
    margin-left: 525px;
    display: inline;
    font-size: 1.1em;
    background: #031930;
    transition: 200ms all; 
    color: #ffffff;
    padding: 6px 10px;
}

.copiar:hover{
    color: #ffffff;
    transform: scale(1.03);
    background: #020e1c
}

.copiar:active{
    background: #000;
}

.botones{
    width: 1400px;
    margin-left: 20px;
} 

.boton-encript{
    border: none;
    background: #223A59;
    color: whitesmoke;
    line-height: 35px;
    width: 12%;
    border-radius: 10px;
    font-size: 1.2em;
    transition: 300ms all;
}


.boton-encript:hover{
    transform: scale(1.1);
    background: #101d2e;
    color: whitesmoke;
}


.boton-desencript{
    border: solid 2px #223A59;
    background-color: transparent;
    line-height: 35px;
    width: 12%;
    border-radius: 10px;
    font-size: 1.2em;
    margin-left: 6%;
    transition: 300ms all;
}

.boton-desencript:hover{
    transform: scale(1.1);
    background: whitesmoke;
}


footer{
    background: #020e1c;
    padding: 40px;
}

footer p{
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding: 2em;
}

