body{
    background: linear-gradient(#000,#3d3d3d);
    /* background: url(fondooo.jpg); */
    /* background-size: 50%;
    background-position: 90% 70%; */
    font-family: 'IBM Plex Sans', sans-serif;
}


header{
    padding: 1em 0;
    width: 940px; 
    margin: 0 auto;
    margin-top: -35px;
}

.titulo{
    font-weight:bold;
    font-size: 40px;
    color: #000000;
    background: blue;
    text-align: center;
    border-radius: 20px;
    box-shadow:8px 8px 10px 5px rgb(0, 255, 153);
    padding: 25px 0px;
    margin: 1em 1em 0 1em;
    border: none;
}



.principal{
    width: 940px; 
    margin: 0 auto;
    padding: 20px;
}

.cuadros{
    text-align: center;
}

.textarea1{
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 0 0 10px 0;
    background: #000000;
    padding: 10px 0 10px 20px;
    text-align: initial;
}

.cuadros ::placeholder{
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding-top: 50%;
}

.principal textarea{
    width: 45%;
    /* vertical-align: top; */
}

.mensaje-Usuario{
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 3px;
    background: linear-gradient(#ffffff,#69ffbe); ;
    resize: none;
}

.mensaje-resultado{
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 3px;
    margin-left: 40px;
    resize: none;
    background: linear-gradient(#ffffff,#69ffbe); 
}

.advertencia, .advertencia p{
    display: inline;
    color: #ffffff;
    margin-left: 10px;
}

.copiar{
    border: none;
    border-radius: 3px;
    margin-left: 525px;
    display: inline;
    font-size: 1.1em;
    background: #a4b1a0;
    transition: 200ms all; 
}

.copiar:hover{
    color: #ffffff;
    transform: scale(1.03);
    background: #5a5a5a
}

.copiar:active{
    background: #000;
}

.botones{
    width: 1400px;
    margin-left: 20px;
} 

.boton-encript{
    border: none;
    background: #3cff00;
    line-height: 35px;
    width: 12%;
    border-radius: 10px;
    font-size: 1.2em;
    transition: 300ms all;
}


.boton-encript:hover{
    transform: scale(1.1);
    background: #26a200;
}

.boton-encript:active{
    background: #1f8500;
}

.boton-desencript{
    border: none;
    background: #3cff00;
    line-height: 35px;
    width: 12%;
    border-radius: 10px;
    font-size: 1.2em;
    margin-left: 6%;
    transition: 300ms all;
}

.boton-desencript:hover{
    transform: scale(1.1);
    background: #26a200;
}

.boton-desencript:active{
    background: #1f8500;
}

footer{
    background: #000000;
}

footer p{
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding: 2em;
}

.imagen{
    margin: auto 50%;
    position: absolute;
    width: 100px;
    box-shadow:8px 8px 40px 10px rgb(0, 0, 0);
    transition: 700ms;
}

.imagen:hover{ 
    box-shadow:4px 4px 5px 5px #00e226;
    border-radius: 10px;
}

.imagen:active{
    box-shadow:3px 3px 4px 4px red;
}  